
button {
    height: 40px;
    min-width: 100px;
    line-height: 26px;
    text-align: center;
    border-radius: 6px;
    border-color: var(--link);
    border: 1px solid var(--link);
    background: var(--link);
    padding: 6px 18px;
    white-space: nowrap;
    color: var(--main);

    @media (max-width: 345px) {
        min-width: auto;
    }

    &.outlined {
        color: var(--primary);
        background: transparent;
        height: 34px;
        line-height: 20px;
        &:hover, &:focus {
            color: var(--main);
        }
    }

    &.button-icon {
        height: auto;
        min-width: auto;
        line-height: inherit;
        border-radius: inherit;
        border: inherit;
        padding: 0;
        margin: 0;
        color: var(--gray);
        &:hover, &:focus {
            color: var(--primary);
            background-color: transparent;
        }
    }

    &.full-width {
        width: 100%;
    }

    &:hover, &:focus {
        background: var(--link-hover);
        border-color: var(--link-hover);
    }

    &:active {
        background: var(--link-active);
        border-color: var(--link-active);
    }

    &:disabled {
        border-color: var(--gray);
        background: var(--gray);
        color: var(--primary);
    }
}

button.css-ueukts-MuiButtonBase-root-MuiToggleButton-root {
    color: var(--primary);
    background: transparent;
    height: 34px;
    line-height: 20px;
    padding: 6px 18px;
    border-radius: 6px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    min-width: 100px;
    border-color: var(--link);
    border: 1px solid var(--link);
    &:hover {
        color: var(--main);
        background: var(--link-hover);
        border-color: var(--link-hover);
    }
}

button.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background: var(--link);
    color: var(--main);
    &:hover {
        background: var(--link-hover);
        border-color: var(--link-hover);
    }
}

.css-1gjgmky-MuiToggleButtonGroup-root button.MuiToggleButtonGroup-grouped:not(:first-of-type) {
    margin-left: 0;
    border-left: 0;
}

.badge {
    font-size: 12px;
    line-height: 12px;
    padding: 4px 10px;
    border-radius: 36px;
    white-space: nowrap;
    background: var(--red);
    color: var(--primary);
    &.OnSale {
        background-color: var(--primary);
        color: var(--bg);
    }
    &.SaleSuccess {
        background-color: var(--link);
        color: var(--bg);
    }
    &.Withdrawn {
        background-color: var(--yellow);
        color: var(--bg);
    }
}