* {
  box-sizing: border-box;
}

html {
  --bg: #fff;
  --fg: #25282A;
  --gray: #888;
  --royal: #0072CE;
  --blue: #6AD1E3;
  --primary: #D1CCBD;
  --secondary: var(--royal);
  --tertiary: #FF585D;

  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.3;

  ::selection {
    background: var(--secondary);
    color: var(--bg);
  }

  @media (prefers-color-scheme: dark) {
    --bg: #25282A;
    --fg: #fff;
    --secondary: var(--blue);

    ::selection {
      background: var(--secondary);
      color: var(--fg);
    }
  }
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 60em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.highlight {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;
  label {
    margin-right: 0.5em;
  }
  input {
    caret-color: var(--secondary);
  }
}

label {
  color: var(--fg);
}

button, .highlight {
  border-radius: 5px;
  border-color: var(--primary);
  border: 0.1em solid var(--primary);
  padding: 0.5em 1em;

  &:hover, &:focus, &:focus-within {
    border-color: var(--secondary);
  }
}

input {
  border: none;
  flex: 1;
  &:read-only {
    color: var(--primary)
  }
}

input[type="number"] {
  text-align: center;
  border-bottom: 0.1em solid var(--primary);
  margin: 0 1em;
  width: 4em;
  padding-left: 0.5em;
  &:hover, &:focus {
    border-color: var(--secondary);
  }
}

input[type="text"] {
  border-bottom: 0.1em solid var(--primary);
  margin: 0 1em;
  padding-left: 0.5em;
  &:hover, &:focus {
    border-color: var(--secondary);
  }
}

button, input {
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

button {
  position: relative;
  transition: top 50ms;
  &:hover, &:focus {
    border-color: var(--secondary);
  }
  &:active {
    background: var(--secondary);
    border-color: var(--secondary);
  }
  &:disabled {
    border-color: var(--primary);
    color: var(--primary);
  }
}

.is-premium {
  border-left: 0.25em solid var(--secondary);
  padding-left: 0.25em;
  margin-left: -0.5em;
}

ul, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

dd {
  font-weight: bold;
}

dt, dd {
  display: inline-block;
}

.lot_list {
  margin: 0;
  padding: 0;
}

.lot_item {
  border: 0.1em solid var(--primary);
  border-radius: 10px;
  padding: 1em 2em;
  margin: 1em 0;
  ul {
    padding: 0;
  }
}

.form_offer {
  margin: 20px 0;
  label {
    width: 120px;
  }
  button {
    margin: 20px 0;
  }
}

.bids_list {
  margin: 20px 0;
  p {
    margin: 0;
    font-size: 12px;
  }
}

.offer_name {
  margin: 0 1em;
  padding-left: 0.5em;
}

header {
  display: flex;
  align-content: start;
  h1 {
    margin: 8px 0;
  }
  .auth {
    margin: 8px 0 8px auto;
  }
  .nav {
    margin: 8px 12px;
    font-size: 1.2em;
    .nav-link {
      padding-bottom: 0.2rem;
      margin-top: 0.3rem;
    }
  }
}

.current_name {
  font-size: 20px;
  margin: 0 15px;
}

.button_wrapper {
  margin: 20px 0;
  button {
    display: inline-block;
    margin-right: 20px;
  }
}
