@import "normalize";

:root {
  --bg: #2B2C33;
  --fg: #373943;
  --main: #272A34;
  --gray: #52555d;
  --light-gray: #939499;
  --primary: #fff;
  --secondary: #D7D7D9;
  --link: #38CD99;
  --link-hover: #7AFECE;
  --link-active: #30C58F;
  --red: #A12426;
  --yellow: #FDE63F;
}

html {
  background-color: var(--bg);

  ::selection {
    background: var(--secondary);
    color: var(--bg);
  }
}

body {
  font-family: 'Oswald',Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary);
  background-color: var(--bg);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}

b, strong {
  font-weight: 500;
}

a {
  color: var(--link);
  text-decoration: underline;
}

a:hover {
  color: var(--link);
}

a.button-link {
  cursor: pointer;
  font-size: 16px;
  color: var(--primary);
  font-weight: 500;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

a.icon {
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
  &:hover {
    color: var(--link);
  }
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button, input, textarea {
  background: transparent;
  color: inherit;
  font: inherit;
  outline: none;
}

ul, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.default {
  list-style: disc inside;
}

.account-name {
  color: var(--primary);
}

.account-suffix {
  color: var(--gray);
}

.icon {
  font-size: 1rem;
  color: var(--gray);
}

.near-icon {
  &:after {
    display: inline-block;
    content: "\24c3";
    transform: scale(.9) translateY(-1px);
    font-weight: 400;
    margin-left: 3px;
  }
}

.or {
  position: relative;
  display: block;
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--gray);
  &:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    text-align: center;
    background: var(--fg);
    content: "OR";
  }
}

.spinner {
  margin: 20px 0;
}

@import 'buttons';
@import 'inputs';
@import 'header';
@import 'main';

