header {
    position: relative;
    display: flex;
    height: 70px;
    background: #25272E;
    align-content: start;
    border-bottom: 1px solid #383940;
    h1 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--primary);
        white-space: nowrap;
        margin: 0 15px 0 0;
        a {
            text-decoration: inherit;
            color: inherit;
        }
    }
    .create_offer {
        margin: 0 15px 0 auto;
    }
    .auth {
        margin: 0 0 0 10px;
        line-height: 40px;
        .login {
            border-color: var(--primary);
            background-color: var(--primary);
        }
        .logout {
            vertical-align: top;
        }
        .account-name {
            font-size: 20px;
            margin: 0 15px;
            .suffix {
                color: var(--gray);
            }
        }
    }
    .balance {
        font-size: 16px;
        margin: 0 0 0 15px;
    }
    .container {
        display: flex;
        align-items: center;
    }
    .network-select {
        margin: 0 15px;
        width: 100px;
    }
    .button-icon {
        color: var(--primary);
    }
    .nav {
        display: flex;
        margin-right: auto;
        .nav-link {
            display: block;
            font-size: 16px;
            color: var(--primary);
            font-weight: 500;
            text-decoration: none;
            height: 70px;
            line-height: 70px;
            margin: 0 12px;
            padding: 0 7px;
            &.active {
                color: var(--link);
                border-bottom: 3px solid var(--link);
            }
        }
    }
    .mobile-header {
        position: absolute;
        top: 0;
        left: 0; right: 0;
        background: var(--fg);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;
        z-index: 999;
        h1 {
            margin: 20px 0;
        }
        .network-select {
            margin-bottom: 20px;
        }
        .nav {
            width: 100%;
            margin: auto;
            padding: 12px 0;
            align-items: center;
            flex-direction: column;
            border-top: 1px solid var(--gray);
            border-bottom: 1px solid var(--gray);
            .nav-link {
                height: auto;
                line-height: 24px;
                margin: 12px 0;
                &.active {
                    border-bottom: 0 none;
                }
            }
        }
        .auth {
            margin: 20px 0;
        }
        .login {
            width: 280px;
        }
    }
}
