input {
    border: none;
    height: 40px;
    padding: 8px 13px;
    line-height: 24px;
    color: var(--primary);
    border-radius: 6px;
    background: var(--main);
    &.icon {
        color: var(--gray);
    }
    &.search {
        background: var(--fg);
        padding-left: 34px;
        font-size: 16px;
        width: 100%;
    }
    &::placeholder {
        color: var(--gray);
    }
    &:read-only {
        background: var(--light-gray);
    }
}

textarea {
    border: none;
    min-height: 60px;
    padding: 8px 13px;
    line-height: 24px;
    color: var(--primary);
    border-radius: 6px;
    background: var(--main);
}

.input-wrapper {
    position: relative;
    span {
        position: absolute;
        top: 10px; right: 10px;
        color: var(--gray)
    }
    input {
        width: calc(100%);
        &.name {
            padding-right: 35px;
            &.testnet {
                padding-right: 53px;
            }
        }
        &.price {
            padding-right: 43px;
        }
        &.duration {
            padding-right: 43px;
        }
    }
}

.input-checkbox {
    display: flex;
    input {
        height: inherit;
        margin: 8px 10px 0 0;
    }
}

label {
    font-size: 12px;
    font-weight: 500;
    padding-left: 13px;
    color: var(--light-gray);
}

.error-input {
    display: block;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    padding-left: 3px;
    color: var(--red);
    &.warning {
        color: var(--yellow);
    }
}


.form-group {
    position: relative;
    .error-input {
        position: absolute;
        top: 100%; left: 0;
    }
}
