
.container {
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  @media (max-width: 768px) {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 736px;
  }
  @media (max-width: 368px) {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.about {
  margin-top: 40px;
  margin-bottom: 80px;
  h3 {
    margin: 1rem 0;
  }
  ul {
    margin-bottom: 20px;
  }
  img {
    width: 1000px;
    margin-bottom: 10px;
    max-width: 100%;
    cursor: pointer;
    &.zoom {
      width: auto;
      max-width: none;
    }
  }
}

.lots-container {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--fg);
  border-radius: 10px;

  .lots-title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
    padding-left: 17px;
  }

  .lot_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
  }

  .lot_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main);
    border-radius: 8px;
    margin: 0 0 20px;
    padding: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .lot_info {
    margin-right: auto;
    padding: 0 10px;
    .lot_name {
      display: block;
      font-size: 32px;
      line-height: 40px;
    }
    .seller_name {
      .icon {
        font-size: 1rem;
        vertical-align: top;
        margin-top: 4px;
      }
      .account-name {
        margin-left: 5px;
        color: var(--light-gray);
      }
    }
  }

  .lot_price {
    height: 70px;
    border-right: 1px solid var(--fg);
    border-left: 1px solid var(--fg);
    width: 155px;
    text-align: center;
    .current_price {
      display: block;
      font-size: 22px;
      line-height: 40px;
      color: var(--link);
      font-weight: 700;
    }
    .buy-now_price {
      font-size: 12px;
      color: var(--light-gray);
      strong {
        font-weight: 700;
      }
    }
  }

  .lot_status {
    padding: 0 36px;
  }

  .lot_action {
    padding: 0 36px;
    text-align: center;
    .button_wrapper {
      display: flex;
      flex-direction: column;
      button ~ button {
        margin-top: 5px;
      }
    }
  }

  .countdown {
    display: block;
    line-height: 1;
    margin-top: 5px;
    span {
      max-width: 65px;
      white-space: nowrap;
    }
    .icon {
      font-size: 1rem;
      margin-right: 5px;
      margin-top: -1px;
      vertical-align: top;
    }
  }

  .spinner {
    margin: 0;
  }

  @media (max-width: 768px) {
    padding: 10px;
    .lot_list {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .lot_item {
      max-width: 320px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 18px;
      margin: 6px 6px 12px;
      &:last-child {
        margin-bottom: 12px;
      }
    }

    .lot_info {
      flex-basis: 100%;
      overflow: hidden;
      border: 0 none;
      padding: 0;
      margin-bottom: 12px;
      .lot_name {
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--gray);
        &.expand {
          word-break: break-word;
        }
      }
      .seller_name {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid var(--fg);
      }
      .countdown {
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid var(--fg);
      }
    }

    .lot_price {
      border: 0 none;
      text-align: left;
      width: auto;
      height: auto;
      .current_price {
        line-height: 1;
      }
    }

    .lot_status {
      padding: 0;
      order: 1;
      margin-left: auto;
      margin-right: 8px;
      span {
        padding: 4px 6px;
      }
    }

    .lot_action {
      padding: 0;
      order: 2;
    }
  }
  @media (max-width: 368px) {
    .lot_status {
      margin-right: 4px;
    }
  }
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--fg);
  margin: 24px 0 20px;
  height: 92px;
  padding: 12px 4px;
  border-radius: 10px;
  .profile-name {
    font-size: 32px;
    padding: 0 34px;
    margin: 0;
    line-height: 70px;
    border-right: 1px solid var(--gray);
  }
  .profile-block {
    border-right: 1px solid var(--gray);
    padding: 10px 50px;
    max-height: 70px;
    strong {
      display: block;
      font-size: 12px;
      color: var(--light-gray);
    }
    .rewards {
      font-size: 22px;
      color: var(--link);
      font-weight: 700;
      white-space: nowrap;
    }
  }
  .claim-rewards {
    margin: 0 auto 0 50px;
  }
  @media (max-width: 768px) {
    height: auto;
    padding: 12px;
    .profile-name {
      font-size: 22px;
      flex-basis: 100%;
      padding: 8px;
      border: 0 none;
      line-height: inherit;
    }
    .profile-block {
      padding: 4px 15px 0 8px;
      margin-right: 5px;
      &:last-of-type {
        border: 0;
        padding-right: 5px;
      }
    }
    .claim-rewards {
      margin: 8px;
    }
  }
}

.search-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  .search-icon {
    position: absolute;
    top: 13px; left: 12px;
    font-size: 1rem;
    color: var(--gray);
  }
  .search-result {
    position: absolute;
    top: 100%;
    left: 20px;
    right: 210px;
    margin-top: 24px;
    overflow: hidden;
    word-break: break-all;
    height: 42px;
    strong {
      color: var(--link);
    }
  }
}

.status-wrapper {
  margin: 20px 0;
  text-align: right;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  background: var(--fg);
  border-radius: 10px;
  width: 320px;
  @media (max-width: 368px) {
    width: 100%;
    padding: 20px;
  }
}

.modal-container {
  .title {
    margin: 20px 0 0;
    padding: 0 0 24px;
    border-bottom: 1px solid var(--gray);
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  label {
    margin: 5px 0;
  }
  textarea, .textarea {
    margin: 5px 0 24px;
  }
  .button_wrapper {
    padding: 24px 0 0;
    margin: 12px 0 20px;
    border-top: 1px solid var(--gray);
  }
  .alert-container {
    margin: 10px 0 0;
    padding: 3px 8px;
    font-size: 12px;
    .css-1ytlwq5-MuiAlert-icon {
      font-size: 18px;
      margin-right: 8px;
    }
  }
}

.offer_modal {
  width: 420px;
  .account-name {
    color: var(--link);
  }
  .form-group {
    margin: 10px 0;
    width: 155px;
  }
  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .confirmation {
    width: 100%;
    ul {
      margin-bottom: 5px;
    }
    label {
      padding: 0;
    }
    p {
      margin: 0 0 5px;
    }
  }
}

@media (max-width: 768px) {
  .offer_modal {
    width: 360px;
    height: 100%;
    overflow: auto;
    .form-group {
      width: 280px;
    }
  }
}

@media (max-width: 320px) {
  .offer_modal {
    width: 100%;
  }
}

.claim_modal {
  width: 410px;
  .account-name {
    color: var(--link);
  }
  .form-group {
    margin: 20px 0;
    width: 100%;
  }
  h3 {
    padding: 20px 0;
    border-bottom: 1px solid var(--gray);
  }
  .claim-success {
    .textarea {
      display: block;
      min-height: 60px;
      padding: 8px 13px;
      line-height: 24px;
      word-break: break-word;
      border-radius: 6px;
      &.green {
        background-color: #384B4D;
      }
      &.red {
        background-color: #45363F;
      }
    }
    p {
      text-align: center;
      margin: 20px 0;
      padding: 24px 0;
      border-top: 1px solid var(--gray);
      border-bottom: 1px solid var(--gray);
    }
  }
}

@media (max-width: 768px) {
  .claim_modal {
    width: 360px;
  }
}

@media (max-width: 320px) {
  .claim_modal {
    width: 100%;
  }
}

.alert_modal {
  h3 {
    margin: 20px 0 24px;
    font-weight: 400;
  }
  .alert-content {
    padding: 24px 0;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
  }
  .alert-button {
    margin: 24px 0;
  }
  .button_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 24px 0;
    border-top: 0 none;
    button {
      width: 48%;
      &.outlined {
        height: 40px;
        line-height: 26px;
      }
    }
  }
}

.bid_modal {
  width: 360px;
  @media (max-width: 360px) {
    width: 100%;
  }
  .bid_info {
    padding: 20px 0 24px;
    border-bottom: 1px solid var(--gray);
    .lot_name {
      display: block;
      font-size: 32px;
      line-height: 40px;
      text-overflow: ellipsis;
      color: var(--gray);
      overflow: hidden;
      &.expand {
        word-break: break-word;
      }
    }
    .seller_name {
      display: block;
      margin: 12px 0;
      .icon {
        font-size: 1rem;
        vertical-align: top;
        margin-top: 4px;
      }
      .account-name {
        color: var(--light-gray);
        margin-left: 5px;
      }
    }
    .countdown {
      display: block;
      margin: 5px 0 0;
      line-height: 1;
      span {
        max-width: 65px;
        white-space: nowrap;
      }
      .icon {
        font-size: 1rem;
        margin-right: 5px;
        margin-top: -1px;
        vertical-align: top;
      }
    }
  }
  .lot_status {
    margin: 20px 0;
  }
  .bid_price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--gray);
    .buy-now_price {
      font-size: 16px;
      margin: 12px 0;
      width: 120px;
      strong {
        font-weight: 700;
        white-space: nowrap;
      }
    }
    input {
      width: 120px;
      text-align: left;
      margin: 12px 0;
    }
    button {
      width: 140px;
      margin: 12px 0;
    }
  }
  .bid_list {
    text-align: center;
    margin: 24px 0 12px;
    li {
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
      border-bottom: 1px solid var(--gray);
      &:last-child {
        border: 0 none;
      }
    }
    .bidder_name {
      .icon {
        color: var(--gray);
        font-size: 1rem;
        vertical-align: top;
        margin-top: 4px;
      }
      .account-name {
        margin-left: 5px;
        color: var(--light-gray);
      }
    }
    strong {
      color: var(--light-gray);
    }
  }
  .alert-container {
    margin: 24px 0;
  }
}

.offer-container {
  .alert-container {
    margin: 20px 0;
  }
}

main {
  @media (min-width: 768px) {
    padding-bottom: 110px;
  }
}

footer {
    padding: 10px 0;
    background-color: var(--bg);
    @media (min-width: 768px) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .legal-notice {
        width: 100%;
        text-align: center;
        color: var(--light-gray);
        font-size: 10px;
    }
}

.beta-warning {
    width: 100%;
    line-height: 30px;
    text-align: center;
    background-color: var(--light-red);
    color: var(--red);
    font-size: 16px;
}
