.MuiInputBase-root.MuiOutlinedInput-root {
  width: 100%;
  vertical-align: top;
  height: 40px;
  color: var(--primary);
  background-color: var(--main);
  border-radius: 6px;
  font-size: 14px;
  font-family: "Oswald", Segoe UI, Roboto, Helvetica, Arial, sans-serif;

  .MuiSelect-icon.MuiSelect-iconOutlined {
    color: var(--primary);
  }

  .MuiOutlinedInput-notchedOutline {
    border: none;
    max-height: 40px;
  }

  .MuiSelect-select.MuiOutlinedInput-input.MuiInputBase-input {
    padding: 8px 13px;
  }
}

.MuiList-root.MuiList-padding.MuiMenu-list {
  color: var(--primary);
  background-color: var(--main);

  .MuiMenuItem-root.MuiButtonBase-root {
    font-family: "Oswald", Segoe UI, Roboto, Helvetica, Arial, sans-serif;

    &:hover {
      background-color: var(--gray);
    }

    &.Mui-selected {
      background-color: var(--main);
      color: var(--link-active);
    }
  }
}
